@model CreateBrandDto
@{
    ViewData["Title"] = "Create Brand";
    Layout = "_AdminLayout";
}

<div class="container-fluid">
    <h1 class="mt-4">Create New Brand</h1>
    <div class="card mb-4">
        <div class="card-body">
            <form asp-action="CreateBrand" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImageFile">Brand Image</label>
                    <input asp-for="ImageFile" class="form-control" accept="image/*" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>